#yourTable {
    border-collapse: collapse;
    border: 2px solid black;;
}

#enemyTable{
    border-collapse: collapse;
    border: 2px solid black;;
}
.board{
    display: none;
}
.userTd{
    width: 35px;
    height: 35px;
    border: 1px solid black;
    text-align:center;
    vertical-align:middle;
}

.enemyTd {
    width: 35px;
    height: 35px;
    border: 1px solid black;
    text-align:center;
    vertical-align:middle;
}

.board {
    display: none;
    float: left;
    /*margin: 50px 50px 50px;*/
    padding: 80px 0px 80px 80px;
}

.shipAndCount table {
    border-collapse: collapse;
    border: 2px solid black;;
}

.shipAndCount table td {
    width: 20px;
    height: 20px;
}

#ships {
    background-color: #DCDCDC;
    float: left;
}

.shipAndCount {
    margin-bottom: 30px;
    background-color: #3399FF;
    margin-right: 30px;
}

.boardDescription {
    text-align: center;
}
